@tailwind base;
@tailwind components;
@tailwind utilities;

html:has(dialog:modal) {
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  overflow-y: scroll;
}

html,
body {
  height: 100vh;
  max-height: 100vh;
}

img {
  user-select: none;
  width: 100%;
  max-width: fit-content;
  height: auto;
}
